@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background-color: white;
  background-image: url("http://i.imgur.com/7M48i1w.png") !important;
  background-size: contain !important;
  background-repeat: repeat-y !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}


/* * * * * * * * * * * * * * * * * * * * *
* General
* * * * * * * * * * * * * * * * * * * * */

body {
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 black;
  color: black;
  -webkit-font-smoothing: antialiased;
  padding: 120px 0;
}


body.clearfix {
  display: block;
}

header {
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

#thecontainer {
  width: 750px;
  margin: 0 auto 80px;
}

#thecontainer a {
  color: black;
}

#thecontainer a:hover {
  color: #fff;
}

.c1 {
  width: 800px;
  float: left;
}

p {
  font-size: 10px;
  line-height: 1.3;
}

h2 {
  font-size: 16px;
  color: #bbb;
  text-shadow: #262729 0 -1px 0;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

h2.look {
  font-size: 22px;
  margin-bottom: 45px;
}

h2 strong {
  color: #fafafa;
}

h3 {
  font-size: 12px;
  color: black;
  margin-bottom: 8px;
}

input {
  font: normal 10px/1.3 'helvetica neue', helvetica, arial;
  font-size: 18px;
  border-radius: 10px;
  border: solid 1px #555;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  color: black;
}

input:focus {
  border: none;
  outline: none;
  background-color: #eee;
  border-top: solid 1px #aaa;
  border-right: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  border-left: solid 1px #aaa;
}

.button {
  color: #b01116;
  margin-right: 5px;
  margin-top: 3px;
  padding: 5px;
  border-radius: 10px;
  border: solid 1px #d4d4d4;
  display: block;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 3px #b3b3b3;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

#add-initiative {
  color: white;
  background-color: #b01116;
  text-shadow: 0 1px 3px #1a1a1a;
  font-weight: bold;
}

.primary-button {
  color: white;
  background-color: #737373;
  text-shadow: 0 1px 3px #4d4d4d;
  font-weight: bold;
}

.primary-button:hover {
  background-color: #808080;
}

.defective-container .button {
  color: white;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  border: solid 1px #58595b;
  display: block;
  float: left;
  background-color: rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px black;
}

.defective-container .button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.defective-container h5 {
  margin-top: 10px;
  color: white;
  text-shadow: 0px 1px 3px black;
  font-weight: bold;
}

.defective-container .sort-by {
  padding: 10px;
}

.sort-by input {
  margin-right: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  text-align: left;
  font-weight: bold;
  color: #dddddd;
}

td {
  padding: 10px 10px;
  border: solid 1px rgba(255, 255, 255, 0.1);
}

p.preamble {
  font-size: 22px;
  color: #cecece;
  text-shadow: #262729 0 -1px 0;
  font-weight: 300;
}

p.preamble strong {
  color: #fafafa;
}

p.preamble .bugwarning {
  color: #959494;
  font-weight: 300;
  font-size: 16px;
}

div.info {
  margin-bottom: 40px;
  clear: both;
}

#example-list {
  margin-bottom: 30px;
}

#example-list .list {
  clear: both;
}

#example-list li {
  font-size: 20px;
  color: black;
  text-shadow: #262729 0 -1px 0;
  font-weight: 300;
  border-top: solid 1px #666;
  padding: 10px 0;
}

#example-list li strong {
  color: #fafafa;
}


/* * * * * * * * * * * * * * * * * * * * *
* Examples
* * * * * * * * * * * * * * * * * * * * */

#thecontainer .example-page {
  margin-top: 30px;
}

h1 {
  font: 100 40px "helvetica neue", helvetica, arial;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: #262729 0 -1px 0;
}

#lovely-things-list {
  margin-bottom: 60px;
}

#lovely-things-list .thumb {
  width: 70px;
  height: 70px;
  float: left;
  margin-top: 3px;
  margin-right: 13px;
  margin-bottom: 0px;
}

#lovely-things-list .list {
  clear: both;
  margin-bottom: 10px;
}

#lovely-things-list .list li {
  padding: 20px;
}

#lovely-things-list .list li:nth-child(2n+1) {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#lovely-things-list h4 {
  color: black;
  font-weight: bold;
  margin-bottom: 6px;
}

#lovely-things-list p {
  font: normal 14px/1.3 'helvetica neue', helvetica, arial;
  color: black;
  text-align: justify;
}

#lovely-things-list .sort-by {
  margin-bottom: 10px;
  width: 100%;
  float: left;
  clear: both;
}

#lovely-things-list .filter {
  margin-bottom: 10px;
  width: 100%;
  float: left;
  clear: both;
}

@media screen and (max-width: 750px) {
  #lovely-things-list {
    width: 600px;
  }
}

#mainkategories .button {
  margin-bottom: 10px;
}


/* * * * * * * * * * * * * * * * * * * * *
* Syntax coloring
* * * * * * * * * * * * * * * * * * * * */

pre {
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 20px 10px;
  margin: 0 -20px 20px;
  line-height: 1.5;
}

pre,
code {
  font-family: 'monaco', sans-serif;
  font-size: 12px;
}

pre .keyword {
  color: black;
}

pre .string {
  color: black;
}

pre .regexp {
  color: black;
}

pre .class {
  color: black;
  font-weight: bold;
}

pre .special {
  color: black;
}

pre .number {
  color: black;
}

pre .comment {
  color: grey;
  font-style: italic;
}

a {
  text-decoration: none;
}

.searched {
  font-size: 15px;
  color: #58595b;
  padding: 5px;
  margin-right: 10px;
}

.filtercheckbox {
  margin-top: 1px;
  margin-bottom: -15px;
}

a:hover {
  text-decoration: none !important;
}

.fellow {
  font-size: 14px;
}

.category {
  margin-top: 35px;
  font-size: 15px;
  text-align: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #b01116;
}


/* 
MODAL
*/

.modal-dialog {
  background-color: white;
  border: 1px #b01116;
}

.modal-header {
  text-align: center;
  background-color: white;
  padding: 10px;
}

.modal-title {
  font-size: 34px;
  color: #b01116;
}

.modal-body {
  background-color: white;
  color: #58595b;
}

.modal-body h4 {
  font-size: 20px;
  color: #58595b;
  padding-top: 20px;
}

.modal-filter {
  margin-top: 5px;
}

.modal-footer {
  background-color: white;
  color: black;
}

.modal-website {
  font-size: 20px !important;
  color: #58595b !important;
  text-decoration: none !important;
}

.modal-website:hover {
  color: black !important;
}

#modal-body-1 span,
#modal-body-2 span {
  padding-top: 10px;
  line-height: 150%;
}

.modal-thumb {
  width: 70px;
  height: 70px;
  margin: 15px;
}

/* 
DEFECTIVE SECTION
*/

.defective-top {
  padding-top: 190px;
  width: 60%;
  float: center;
  margin: auto;
}

.defective-container {
  float: left;
  margin: auto;
  width: 70%;
  padding: 10px;
  margin-left: 16px;
  padding-bottom: 300px;
}

.defective-container .button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.defective-container h5 {
  margin-top: 30px;
}

.filter-notes {
  color: #58595b;
  margin-bottom: 17px !important;
}

.initiative-bar {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.initiative-bar .initiative-title {
  float: left;
}

.breaker {
  padding: 4px;
}

side-breaker {
  margin-left: 10px;
}
